
body {
    height: 100vh;
    margin-top:0;
}

.modern-site-header {
    width: 100%;
    height: 60px;
    background: #fff;
}

.modern-site-theme {
    width: 160px;
    height: 100%;
    top: 0;
}

    .modern-site-theme span {
        display: inline-block;
        margin-left: 10px;
        margin-bottom: 3px;
        border: 1px solid rgb(207,207,207);
        width: 140px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        font-size: 14px;
        border-radius: 3px;
        color: black;
    }

        .modern-site-theme span:first-child {
            margin-top: 3px;
        }

        .modern-site-theme span:nth-child(2) {
            cursor: pointer;
        }

    .modern-site-theme .active {
        background-color: #13b3ba;
        color: white;
    }

.modern-site-user-nav {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    height: 100%;
    width:120px;
    z-index:999;
}

    .modern-site-user-nav ul, .modern-site-user-nav li, .modern-site-user-nav a, .modern-site-user-nav span {
        height: 100%;
        width:120px;
        background-color:#fff;
        margin: 0;
    }

    .modern-site-user-nav a, .modern-site-user-nav span {
        display: inline-block;
        color: black;
    }
    .modern-site-user-nav span {
        height: 33px;
    }

    .modern-site-user-nav ul {
        width: auto;
    }

    .modern-site-user-nav li {
        float: left;
    }

.modern-site-topMenus {
    position: absolute;
    top: 0;
    left: 160px;
    width: calc(100% - 280px);
    /*overflow: hidden;*/
    height: 800px; /*这个值得大点，否则头部的二级菜单会被遮挡掉显示不全*/
    display: inline-block;
}

    .modern-site-topMenus > ul > li {
        float: left;
        display: inline-block;
        width: 90px;
        height: 60px;
        line-height: 60px;
    }

    .modern-site-topMenus a {
        color: black;
    }

        .modern-site-topMenus a:hover {
            color: black;
        }


a.dropdown-toggle {
    display: block;
    /*height: 60px;*/
    width: 80px;
    font-size: 16px;
    line-height: 36px;
    text-align: center;
    margin-top: 12px;
}
    a.dropdown-toggle.active {
        background: #13b3ba;
        color:#fff;
    }

.zaf-header-index button.dropdown-toggle {
    /*display: block;*/
    /*height: 60px;*/
    /*width: 80px;
    font-size: 16px;
    line-height: 36px;
    text-align: center;
    margin-top: 12px;*/
}

    .zaf-header-index button.dropdown-toggle.active {
        background: #13b3ba;
        color: #fff;
    }


#left-menu {
    position: absolute;
    top: 60px;
    width: 150px;
    height: calc(100vh - 80px);
    margin: 10px 5px;
    background-color: white;
    display:none;
}


.foot-mark {
    position: absolute;
    top: 60px;
    right: 0;
    width: 300px;
    height: calc(100vh - 80px);
    margin: 10px 5px;
    background-color: white;
    display: none;
}

.foot-mark-icon {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.foot-mark-header {
    background-color: lightgray;
}

    .foot-mark-header img {
        width: 20px;
        height: 20px;
        top: -2px;
        position: relative;
    }


    .foot-mark-header h3 {
        display: inline-block;
        font-size: 16px;
    }

.foot-mark-content-wrapper {
    height: calc(100vh - 130px);
    overflow: hidden;
    width: 300px;
}

.foot-mark-list {
    height: 100%;
    width: 320px;
    overflow-y: auto;
    overflow-x: hidden;
}
/*.foot-mark-content {

    overflow-y:scroll;
    overflow-x:hidden;
}*/
#content {
    margin: 10px 0;
    position: absolute;
    top: 60px;
    left: 0;
    /*width: calc(100% - 500px - 20px);*/
    width: calc(100%);
    height: calc(100vh - 80px);
    overflow:auto;
    display:none;
}

body[data-color="grey"] #wrapper {
    background-color: transparent;
}


#breadcrumb {
    box-shadow: 0 0 1px #ffffff;
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    padding-left: 0;

    margin-right: 10px;
    margin-left: 1px;
    background-color: white !important;
    height: 40px !important;
}

    #breadcrumb a {
        position: relative;
        top: -11px;
    }
    #breadcrumb div.left-panel, #breadcrumb div.right-panel {
        cursor: pointer;
    }

.tree-folder {
    background: none;
    width: 0;
}

.tree-folder-open {
    background: none;
    width: 0;
}

.tree-file {
    background: none;
    width: 0;
}

.tree-title {
    font-size: 14px;
    height: 22px;
    line-height: 22px;
}

.tree-node {
    height: 22px;
}

.menu-filter {
    margin: 13px 5px 5px;
}

#MenuFilter {
    width: calc(100% - 10px);
    border: none;
    border-radius: 0;
    border-bottom: 1px solid black;
    box-shadow: none;
}

    #MenuFilter:focus {
        box-shadow: none !important;
    }

.history-date-title {
    float: left;
    width: 80px;
    margin-left: 10px;
}

.day-action-list {
    float: right;
    width: 210px;
}

.history-date-clear {
    clear: both;
}

.history-date-title label {
    text-align: right;
    display: block;
    width: 100%;
    margin-bottom: 0;
}

li.day-action-content span:first-child {
    display: inline-block;
    width: 45px;
    text-indent: 10px;
}

.history-date:nth-child(even) {
    background-color: #F5F5F5;
}

.foot-mark-loadmore {
    width: calc(100% - 10px);
    margin: 5px;
    display: none;
}

span.foot-mark-nomoredata {
    display: block;
    display: none;
    margin: 5px;
    text-align: center;
    background: #F5F5F5;
    line-height: 26px;
}

.submenu1 {
    position: absolute;
    left: 10px;
    top: 81px;
    width: calc(100% - 60px);
    background: white;
    min-height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    z-index: 10;
    border-left: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
    border-right: 2px solid #f2f2f2;
}

.level2-menu {
    margin: 10px;
    flex: 0 0 23%;
}

    .level2-menu span {
        font-weight: bolder;
        line-height: 32px;
    }

    .level2-menu ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .level2-menu li {
        line-height: 26px;
        width: 100px;
    }

.left-panel {
    display: inline-block;
    height: 33px;
    width: 40px;
    margin-right: 10px;
    background-image: url(images/menu-collapse-v2.png);
    background-size: 26px 26px;
    background-repeat: no-repeat;
    background-position-y: 5px;
    background-position-x: 10px;
}

.left-panel-expand {
    background-image: url(images/menu-expand-v2.png);
}

.right-panel {
    float: right;
    display: inline-block;
    height: 100%;
    width: 48px;
    background-image: url(images/view-history.png);
    background-size: 26px 26px;
    background-repeat: no-repeat;
    background-position-y: 5px;
    background-position-x: 11px;
    border-left: 1px solid rgb(207,207,207);
}

.day-action-content {
    line-height: 24px;
    background-image: url(images/footmark-devide.png);
    background-size: 12px 24px;
    background-repeat: no-repeat;
    background-position-x: -2.1px;
    /* z-index: 2; */
}

    .day-action-content:first-child {
        background-image: url(images/footmark-background.png);
        background-size: 13px 30px;
        background-repeat: no-repeat;
        background-position-x: -3px;
    }

.history-date:first-child ul li:first-child {
    background-image: url(images/footmark-background-top.png);
    background-size: 13px 30px;
    background-repeat: no-repeat;
    background-position-x: -3px;
}

.modern-site-user-logout {
    background-image: url(images/exit.png);
    display: inline-block;
    width: 120px;
    border-left: 1px solid rgb(207,207,207);
    background-repeat: no-repeat;
    background-position: 10px 15px;
}

.modern-site-user-setting {
    background-image: url(images/change-password.png);
    display: inline-block;
    width: 120px;
    border-left: 1px solid rgb(207,207,207);
    background-repeat: no-repeat;
    background-position: 12px 15px;
}

.modern-site-user-info {
    background-image: url(images/user-portrait.png);
    display: inline-block;
    width: 120px;
    border-left: 1px solid rgb(207,207,207);
    background-repeat: no-repeat;
    background-position: 10px 15px;
}

a.modern-site-user-info span {
    margin-top: 25px;
    margin-left: 50px;
    font-weight: bolder;
}
a.modern-site-user-setting span {
    margin-top: 25px;
    margin-left: 50px;
    font-weight: bolder;
}
a.modern-site-user-logout span {
    margin-top: 25px;
    margin-left: 50px;
    font-weight: bolder;
}
.leftmenu-wrapper {
    height: calc(100vh - 116px);
    overflow: hidden;
}

#leftmenu {
    height: calc(100vh - 116px);
    width: 158px;
    width: 167px\0;
    overflow-x: scroll;
    overflow-y: scroll;
}
    #leftmenu::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    #leftmenu::-webkit-scrollbar-thumb {
        background-color: #DDD;
        -webkit-border-radius: 8px;
        border-radius: 8px;
    }

        #leftmenu::-webkit-scrollbar-thumb:hover {
            background-color: #AAA;
        }

        #leftmenu::-webkit-scrollbar-thumb:active {
            background-color: #777;
        }

    #leftmenu::-webkit-scrollbar-button {
        display: none;
    }

    #leftmenu::-webkit-scrollbar-track {
        background-color: #f1f1f1;
    }

.foot-mark-header h3 {
    margin-top: 12px;
    margin-bottom: 10px !important;
}


.tree-node-selected {
    background: white;
    color: #00706a;
    font-weight: bold;
}


.dropdown-submenu {
    position: relative;
}

.dropdown-menu {
    min-width: 140px;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 8px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

    .dropdown-submenu.pull-left > .dropdown-menu {
        left: -100%;
        margin-left: 10px;
        -webkit-border-radius: 6px 0 6px 6px;
        -moz-border-radius: 6px 0 6px 6px;
        border-radius: 6px 0 6px 6px;
    }

.topMenus .dropdown-menu {
    font-size: 20px;
}

.topMenus .open > a, .topMenus .open > a:focus, .topMenus .open > a:hover {
    border-color: transparent;
}



.topMenus .open > .dropdown-menu {
    display: block;
}

.day-action-content > span:nth-child(2) {
    cursor: pointer;
}

.font14import {

    font-size:14px !important;
}

.col-xs-12 {
    margin-left:5px;
    padding-left:0;
    width: calc(100% - 5px);
}
div.modern-site-user-nav li + li {
    display: none;
    border-top: 1px solid rgb(207,207,207);
}
div.modern-site-user-nav li:last-child {
    border-bottom: 1px solid rgb(207,207,207);
}
div.modern-site-user-nav li + li {
    border-top: 1px solid rgb(207,207,207);
}
div.modern-site-user-nav:hover li {
    display: block;
}
div.modern-site-user-nav li:hover a, div.modern-site-user-nav li:hover span {
    background-color: #f6f6f6;
}